/* .columnas-tarjeta{
    display: flex;
    flex-direction: column;
}

.tarjeta{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.tarjeta span{
    padding-left: 20px;
    width: 80%;
    display: block;
    margin: auto;
}

.tarjeta div{
    position: relative;
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: center;
}

.tarjeta div *{
    position: absolute;
    overflow: hidden;
}

.tarjeta> div> img{
height: 100%;
width: 80%;
z-index: 2;

}

.tarjeta>div>span{
    z-index: 3;
    display: block;
    bottom: 0;
    width: 80%;
    height: 0%;
    text-align: center;
    background: #ccc;
    opacity: .7;
    line-height: 75px;
    transition: .5s;
}

.tarjeta> div:hover span{
height: 20%;
display: block;
transition: .5s;
}
 */
