<div class="jumbotron col-12 mb-0 bg-dark rounded-0">
    <div class="row">
        <div class="col-2"></div>
        <div class="card col-4 text-white p-3 mr-5">
            <img src="../../../../assets/img/2-6img.JPG" class="card-img" alt="...">
            <div class="tarjeta card-img-overlay text-center">
                <h5 class="card-title">SWOON-WORTHY</h5>
                <H3 class="card-text ">ACCESSORIES</H3>
            </div>
        </div>
        <div class="card  col-4 text-white p-3 ml-5">
            <img src="../../../../assets/img/3-2img.JPG" class="card-img" alt="...">
            <div class="tarjeta card-img-overlay text-center">
                <h5 class="card-title">WINTER SALE</h5>
                <H3 class="card-text ">NOW 30% OFF</H3>
            </div>
        </div>
        <div class="col-12"></div>
    </div>
</div>