<header>
    <nav>
        <div class="row">
            <div class="col-12">
                <ul class="primerNavbar m-0 justify-center">
                    <li>
                        <i class="fi-interface-user mr-2"></i>
                        <span>Log in</span>
                    </li>
                    <li class="text-center align-top justify-center">
                        FREE SHIPING
                    </li>
                    <li>
                        <i class="fi-ecommerce-shopping-bag-2"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="segundoNavbar">
                   <li routerLink="">VELSE</li>
                   <li>PRODUCTS
                       <ul>
                           <li routerLink="smartphones">SMARTPHONES</li>
                           <li routerLink="lineaBlanca">LÍNEA BLANCA</li>
                           <li routerLink="fotografía"> FOTOGRAFÍA</li>
                       </ul>
                   </li>
                   <li>CUSTOMER CARE</li>
                   <li>VIST US</li>
                </ul>
            </div>
        </div>
    </nav>
</header>